{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Archive{% endblock %}

{% block header %}
<div class="page-heading">
    <h1>Back and Forward</h1>
    <span class="subheading">It's time to summary</span>
</div> 
{% endblock header %}

{% block url %}archive.jpg{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-10 mx-auto">       
            <div class="card mb-5">
                <div class="card-header"> 2019 </div>
                {% for post in posts %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> {{ post.create_time.month }}-{{ post.create_time.day }} : <a href="{{ url_for('.show_post', post_id=post.id) }}">{{ post.title }}</a></li>
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}