{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}{{ category.name }}{% endblock %}

{% block url %}{{ category.name | lower }}.jpg{% endblock url %}

{% block header %}
<div class="page-heading">
    {% if category.name == "Math" %}
        <h1>Pure Math</h1>
        <span class="subheading">What is your Motif</span>
        
    {% elif category.name == "CS" %}
        <h1>YANGI so KISS</h1>
        <span class="subheading">Do not repeat yourself</span>

    {% elif category.name == "Physics" %}
        <h1>The whole Universe</h1>
        <span class="subheading">Why does time flow forward</span>

    {% else %}
        <h1>Enjoy Life</h1>
        <span class="subheading">There is no right or wrong in life</span>

    {% endif %}
</div>
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="post-preview">
                {% include "blog/_posts.html" %}
            </div>
            <div class="page-footer float-right">{{ render_pagination(pagination) }}</div>
        </div>
    </div>
{% endblock %}
