{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pager %}

{% block title %}Home{% endblock %}

{% block url %}home-bg{% endblock %}

{% block header %}
<h1>Think and Touch</h1>
<span class="subheading">Post whatever I am interested</span>
{% endblock header %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="post-preview">
            {% include 'blog/_posts.html' %}
        </div>
        {% if posts %}
            <div class="page-footer float-right">{{ render_pager(pagination) }}</div>
        {% endif %}   
    </div>
    <div class="col-lg-3">
        {% if categories %}
            <div class="card sticky-top">
                <div class="card-header">Categories</div>
                <ul class="list-group list-group-flush">
                    {% for category in categories %}
                        <li class="list-group-item">
                            <a href="{{ url_for('blog.show_category', category_id=category.id) }}">
                                {% if category.name == 'CS' %}
                                    Computer Science
                                {% elif category.name == 'Math' %}
                                    Mathematics
                                {% else %}
                                    {{ category.name }}
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>    
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}