{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Home{% endblock %}

{% block url %}home-bg.jpg{% endblock %}

{% block header %}
<div class="page-heading">
    <h1>Think and Touch</h1>
    <span class="subheading">Post whatever I am interested</span>
</div>
{% endblock header %}

{% block content %}
<div class="row">
    <div class="col-lg-10 mx-auto">
        <div class="post-preview">
            {% include 'blog/_posts.html' %}
        </div>
        {% if posts %}
            <div class="page-footer float-right">{{ render_pagination(pagination) }}</div>
        {% endif %}   
    </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}