{% extends 'base.html' %}

{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Home{% endblock title %}

{% block url %}thought.jpg{% endblock %}

{% block header %}
<div class="page-heading">
    <h1>Ask Questions</h1>
    <span class="subheading">This is what I think</span>
</div>
{% endblock header %}        

{% block content %}
    <div class="row">
        <div class="col-lg-10 mx-auto">
            {% for thought in thoughts %}
                <div class="card mb-5">           
                    <div class="card-body bg-light">
                        <div class="card-text">{{ thought.body }}</div>
                    </div>
                    <div class="card-footer text-right">
                        <small data-toggle="tooltip" data-placement="top"
                                data-timestamp="{{ thought.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                                data-delay="500">
                            {{ moment(thought.timestamp).fromNow(refresh=True) }}
                        </small>
                    </div>
                </div>
            {% endfor %}          
            <!-- Back to top
            <a class="docs-top" style="display: none" href="#">Back to top</a>
             -->
            <div class="page-footer float-right">{{ render_pagination(pagination) }}</div>  
        </div>  
    </div>
{% endblock %}