{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}{{ topic.name }}{% endblock %}
{% block url %}{{ topic.name }}/{{ topic.theme }} {% endblock %}

{% block header %}
<div class="page-heading">
    <h1>{{ topic.name }}</h1>
    <span class="subheading">{{ topic.description }}</span>
</div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-10 mx-auto"> 
            <div class="post-preview">
                {% include "blog/_posts.html" %}
            </div>
            <div class="page-footer float-right">{{ render_pagination(pagination) }}</div>
{% endblock %}