{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/form.html' import render_form %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="blog">
        <meta name="author" content="zhouh">

        <title>Clean Blog</title>

        <!-- Bootstrap CSS -->
        <link rel="icon" herf="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">

        <!-- Custom fonts for this template -->
        <link href=" {{ url_for('static', filename='fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">


    </head>


    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top is-fixed" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="index.html">Syntomic</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">主页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('blog.math') }}">数学</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="post.html">计算机</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">物理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">其他</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">关于</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <!-- Page Header -->
        <header class="masthead" style="background-image: url('static/img/home-bg.jpg')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1 class="text-center display-4">
                                <a><strong>Say Hello</strong></a>
                                <small class="sub-title">to the world</small>
                            </h1>        
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main class="container">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            {% endfor %}
            </div>
            <div class="hello-form">
                {{ render_form(form, action=request.full_path)}}
            </div>
            <h5>{{ messages|length }} messages
                <small class="float-right">
                    <a href="#bottom" title="Go Bottom">&darr;</a>
                </small>
            </h5>
            <div class="list-group">
                {% for message in messages %}
                    <a class="list-group-item list-group-item-action flex-column">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 text-success">{{ message.name }}
                                <small class="text-muted"> #{{ loop.revindex }}</small>
                            </h5>
                            <small data-toggle="tooltip" data-placement="top"
                                    data-timestamp="{{ message.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                                    data-delay="500">
                                {{ moment(message.timestamp).fromNow(refresh=True) }}
                            </small>
                        </div>
                        <p class="mb-1">{{ message.body }}</p>
                    </a>
                {% endfor %}
            </div>
        </main>
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}" type="text/javascript"></script>
        {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
        {{ moment.locale('zh-cn')}}
    </body>
</html>